* {
    margin: 0;
    padding: 0;
}

body {
    font-size: $fontSize;
    font-family: $fontFamily;
    background-color: $VeryDarkBlue;
}


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 60rem;
    display: flex;
    height: 20rem;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 3rem;
}