.header {
    align-items: center;
    background-image: url(/images/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23rem;
}

@media (min-width:375px) {
    .header {
        align-items: center;
        background-image: url(/images/bg-desktop-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.header__title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 2.8rem;
}


.header__btn-theme {
    width: 2.2rem;
}