.main {
    align-items: center;
    display: flex;
    height: calc(100vh - 23rem);
    justify-content: center;
}

.items {
    max-width: 60rem;
    padding: 0 3rem;
    position: absolute;
    top: 13rem;
    width: 100%;
}

.items__input-new-task {
    border-radius: 0.4rem;
    border: none;
    height: 5.2rem;
    padding: 1rem 2rem 1rem 5rem;
    width: 100%;
    outline: none;
}




.items__new-task {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-bottom: 2.5rem;
}

.items__checkbox {
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    width: 2rem;
    left: 1.5rem;
    cursor: pointer;


    &:hover {
        background: $CheckBackground border-box;
        border: 2px solid transparent;
        -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}


.items__task {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}


.checkbox-active {
    background-image: url(../images/icon-check.svg), $CheckBackground;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}


.items__delete {
    background-image: url(../images/icon-cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: $VeryDarkGrayishBlue;
    cursor: pointer;
    height: 1.3rem;
    position: absolute;
    right: 1.5rem;
    width: 1.3rem;
    padding: 0.8rem;
}


.items__input-task {
    background-color: $VeryDarkDesaturatedBlue;
    border: none;
    height: 5.2rem;
    padding: 1rem 2rem 1rem 5rem;
    width: 100%;
    border-bottom: 1px solid $VeryDarkGrayishBlue;
    outline: none;
    color: $LightGrayishBlue;
    cursor: pointer;

}




.items__input-task--active {
    text-decoration: line-through;
    color: $DarkGrayishBlue;
}


.items__task {
    &:first-child {
        .items__input-task {
            border-radius: 0.4rem 0.4rem 0 0;
        }
    }

}




.items__footer {
    border-radius: 0.4rem;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.items__task-footer {
    border: none;
    color: $DarkGrayishBlue;
    height: 5.2rem;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 0 0 0.4rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.items__task-footer--dark {
    background-color: $VeryDarkDesaturatedBlue;
}

.items__task-footer--light {
    background-color: $VeryLightGray;
}

@media (min-width:600px) {
    .items__task-footer {
        display: none;
    }

    .items__task {
        &:nth-last-child(1) {
            .items__input-task {
                border-radius: 0 0 0.4rem 0.4rem;
                border-bottom: none;
            }
        }
    }

    .items__task {
        &:nth-child(1) {
            .items__input-task {
                border-radius: 0.4rem 0.4rem 0 0;
            }
        }
    }

}



.items__task-count {
    font-size: 1.2rem;
}

.items__task-clear {
    font-size: 1.2rem;
    color: $DarkGrayishBlue;
    text-decoration: none;
}


@media (max-width:600px) {
    .items__task-clear--hover {
        display: none;
    }

    .items__task-count--hover {
        display: none;
    }
}


// selected color filter
.items__footer {
    height: 5.2rem;
    padding: 1rem 2rem;
    color: $DarkGrayishBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.items__footer-filter-btn {
    color: $DarkGrayishBlue;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
        color: $LightGrayishBlueHover;
    }


}

.btn-filter-select--blue {
    color: $BrightBlue;
}

.items__footer-filter {

    word-spacing: 2rem;
}


.message-footer {
    margin-top: 4rem;
    color: $DarkGrayishBlue;
    text-align: center;
}


.items__input-task--dark {
    color: $DarkGrayishBlue;
    background-color: $VeryDarkDesaturatedBlue;
}

.items__input-task--light {
    color: $DarkGrayishBlue;
    background-color: $VeryLightGray;
    border-bottom: 1px solid $LightGrayishBlue;
}


.items__input-new-task--dark {
    color: $DarkGrayishBlue;
    background-color: $VeryDarkDesaturatedBlue;

}

.items__input-new-task--light {
    color: $DarkGrayishBlue;
    background-color: $VeryLightGray;
}


.items__footer--dark {
    color: $DarkGrayishBlue;
    background-color: $VeryDarkDesaturatedBlue;

}

.items__footer--light {
    color: $DarkGrayishBlue;
    background-color: $VeryLightGray;
}

.bg--light {
    background-color: $LightGrayishBlue;

}

.bg--dark {

    background-color: $VeryDarkBlue;
}


.items__checkbox--dark {
    border: 2px solid $VeryDarkGrayishBlue;
}

.items__checkbox--light {
    border: 1px solid $LightGrayishBlue;
}